fastapi
uvicorn[standard]
pydantic
numpy<2
faiss-cpu
sentence-transformers
python-multipart
PyYAML
nltk
pdfplumber
scikit-learn
python-docx
PyPDF2
requests
pdf2image
pandas
python-dotenv
pytesseract
Pillow